@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('MyriadPro-Regular.eot');
	src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('MyriadPro-Regular.woff') format('woff'),
	url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1.head-text {
	font-family: 'Myriad Pro Regular';
	font-size: 36px;
	color: rgb(0, 0, 0);
}

.main-text {
	font-family: 'Open Sans', sans-serif;
	size: 18px;
	color: black;
	text-decoration: none;
}

.main-text:hover{
	color: black;
}

.btn:focus {
	border-color: #637084;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
}

.btn-group .btn:focus {
	border-color: #637084;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
}

.form-group .form-control:focus{
	border-color: #637084;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
}

.form-group .search {
	box-shadow: 0.837px 11.971px 29px 0px rgba(25, 21, 21, 0.13);
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-color: rgb(236, 235, 235);
	border-style: solid;
	border-radius: 7px;
	height: 57px;
}

.group {
	
}

.dropdown-menu .search-cat {
	border: none;
	border-bottom: 1px solid #ccc;
}

.group .search-cat:focus {
	border-color: #637084;
	outline: 0;
	box-shadow: none;
}

.fa-input { font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif; }

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style glyph */
.inner-addon .fas {
	position: absolute;
	padding: 15px;
}

/* align glyph */
.left-addon .fas  { left:  0px;}
.right-addon .fas { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.btn-shadow {
	border: 0px;
	box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.15);
}

.btn-shadow .btn-transparent {
	background-color: transparent;
	outline: none;
	border: none;
}

button.btn-filter:focus {
	border-color: #637084;
	outline: 0;
	box-shadow: none;
}

.right-addon .btn-container {
	background-color: transparent;
	font-size: 1.5em; 
	color: gray;
	outline: none;
	border: none;
}

.btn-custom {
	background-color: white; 
}

.btn-group .btn-custom-border {
	background-color: white; 
	border-radius: 16px 16px 16px 16px;
	border: 1px solid #dfdfdf; 
}

.btn-group-custom {
	border-radius: 16px 16px 16px 16px;
	height: 53px;
	border: 1px solid #dfdfdf;
}

.btn:focus {
	outline: none;
}

#img-button-export {
	margin-left: 15px;
	margin-right: 5px;
	align: center;
}

.img-toggle {
	margin: 5px;
}

.btn-filter {
	background-color: transparent;
	height: 53px;
}

.btn-group .filter-button:focus {
	border: 1px solid #dfdfdf;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 153, 170,.6);
}

hr.line {
	background-color: rgb(232, 232, 232);
	height: 1px;
}

.container-fluid .table-custom{
	background: white; /* Цвет фона таблицы */ 
	border: 10px solid #F2F3F4; 
}


.tr-th-custom {
	border: 10px solid #F2F3F4; 
	text-align: center;
}

.tr-th-custom-left {
	border: 10px solid #F2F3F4; 
	text-align: left;
}

.tr-th-custom .td-th-custom:hover {
	background-color: #dfdfdf;
}

.tr-th-custom .td-th-custom {
	border: 5px solid #F2F3F4;
	font-family: 'Open Sans', sans-serif;
}

.tr-td-custom {
	background: #FFFFFF; /* Цвет фона */ 
	border: 5px solid #F2F3F4; /* Граница вокруг ячеек */ 
	font-family: 'Open Sans', sans-serif; /* Выбор гарнитуры */ 
	font-size: 0.95em; /* Размер текста */ 
	text-align: center; 
}

.tr-td-custom .td-custom-left {
	background: #FFFFFF; /* Цвет фона */ 
	border: 5px solid #F2F3F4; /* Граница вокруг ячеек */ 
	font-family: 'Open Sans', sans-serif; /* Выбор гарнитуры */ 
	font-size: 0.95em; /* Размер текста */ 
	text-align: left; 
}